.home-row{
    margin: 2.5%;
}

.reg-card{
    margin: 2.5% 5%;
}

.training{
    background-color: #0d6efd;
    color: white;
    text-align: center;

    height: 50vh;
    width: 50vw;

    margin: 10% 0 0 25%;

    visibility: hidden;

    position: fixed;
    top: 0;
}

.wait-ani{
    margin: 5%;

    animation-name: load;
    animation-duration: 3s;
    animation-iteration-count: 10;
}

@keyframes load{
    0%{opacity: 100%;}
    50%{opacity: 50%}
    100%{opacity: 100%;}
}

.pred-card{
    margin: 5% 10%;
}